*{
  padding: 0;
  margin:0;
}
body{
  overflow: hidden;
}

#canvas {
  background:#fff;
  position: fixed;
  /* height: 100%; */


}
#eraser{
  /*position: fixed;*/
  /*top:10px;*/
  /*left: 10px;*/
  width: 30px;
  height: 30px;
  cursor: pointer;
  /*fill: #fff;*/
  margin-top: 20px;
}
#eraser.active{
  width:35px;
  height: 35px;
  transition: 0.5s;
  fill: red;
}
#pen,#download,#clear{
  /*position: fixed;*/
  /*top:10px;*/
  /*left:80px;*/
  width: 30px;
  height: 30px;
  /*fill: #fff;*/
  cursor: pointer;
  /*margin-left: 20px;*/
  margin-top: 20px;

}
#pen.active{
  width: 35px;
  height: 35px;
  transition: 0.5s;
  fill: red;
}
#color{
  border: none;
  background: #fff;
  /*padding: 10px;*/
  height: 28px;
  width: 28px;
  margin-top: 20px;

}
#pen_w{
  /*margin-left: 20px;*/
  display: block;
  transform: rotate(90deg);
  margin-top: 50px;
  /*margin-left: -10px;*/
  margin-bottom: 70px;
  /*align-self: center;*/
}
/*#pen_w::after{*/
  /*content: '';*/
  /*display: block;*/
/*}*/
#bar{
  position: fixed;
  /*height: 30px;*/
  /*background: ghostwhite;*/
  top:0px;
  /*padding: 20px;*/
  /* background: ; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: -25px;
  /*display: none;*/
  transition: 1s;
}
#bar.active{
  margin-left: -100px;
  transition: 1s;
}
#clear{
  /*fill: #fff;*/
  /* margin-bottom: 20px; */
}
svg{
  /*display: block;*/
}
input{
  /*display: block;*/
  display: block;

}
#hide{
  position: fixed;
  top:5px;
  left: 0px;

}
/* undo,redo按钮样式 */
.do{
  /* padding: 5px;
  border-radius: 5px; */
} 
#laststep{
  margin-bottom: 20px;

}

#laststep,#nextstep{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: -10px;
  /* margin-bottom: 10px; */
}


input[type=range] {
  -webkit-appearance: none;
  border-radius: 10px; 
}

input[type=range]::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 10px; 
  border: 1px solid grey;
  /* box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; */
  background: #5361D0;
  /* background: #000; */
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -5px;
  background: #fff; 
  border-radius: 50%; 
  border: solid 0.125em rgba(205, 224, 230, 0.5); 
  box-shadow: 0 .125em .125em #3b4547; 
}